<div class="d-flex flex-column justify-content-center align-items-center border rounded">
    <div style="background-color: lightgrey; width: 100%; height: 3rem;"> </div>
    <div class="d-flex flex-row justify-content-start w-50 pt-5">
        <h2>Welcome</h2>
    </div>
    <div class="d-flex flex-row justify-content-start w-75 p-3">With suporting text below as natural lead-in to
        aditional content.</div>
    <div>
        <button class="btn btn-primary">See transsactions</button>
    </div>
    <div
        style="background-color: lightgrey; width: 100%; height: 3rem;display: flex; justify-content: center; align-items: center; margin-top:2rem">
        <span>You hawe &nbsp; </span>
        <span> {{transactionTotalCount}} </span>
        <span>&nbsp; transactions</span>
    </div>
</div>